body {
    padding-top: 60px;
}

.form-player-id {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-player-id .form-player-id-heading {
     margin-bottom: 10px;
 }

.form-player-id .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}


.form-player-id input[type="text"] {
    margin-bottom: 10px;
}

.fade-in, .fade-out {
    opacity: 1;
}
.fade-in.ng-hide, .fade-out.ng-hide {
    opacity:0!important;
}

.fade-out.ng-hide-add.ng-hide-add-active,
.fade-in.ng-hide-remove.ng-hide-remove-active {
    transition: opacity 0.2 ease-in-out;
}