.matchSummary {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.matchSummary.even {
    background: #34485a;
}
.matchSummary:hover {
    background: #5a3b4a;
}
.matchSummaryHeader {
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.matchSummary > div, .matchSummaryHeader > div {
    height: 34px;
    line-height: 16px;
    vertical-align: middle;
    overflow: hidden;
}
.matchSummaryHeader .d2mh-margin {
    margin-left: 34px;
    margin-right: -34px;
}

.matchSummary .d2mh{
    float: left;
    margin-right: 2px;
}

.matchSummary .d2mh.hero-0 {
    background: none;
}

.matchSummary.ng-enter {
    transition: opacity 0.5s ease-in-out;
}

.matchSummary.ng-enter {
    opacity:0;
}

.matchSummary.ng-enter.ng-enter-active {
    opacity:1;
}

button.loadMoreMatches {
    margin-top: 10px;
}
