<form role="form"
      class="form-player-id"
      ng:init="appCtrl.pageTitle = 'Home'"
      ng-controller="SearchCtrl as searchCtrl">
    <h2 class="form-player-id-heading">Find Steam Player</h2>


    <div class="form-group" ng-class="{'has-error': homeCtrl.searchError}">


        <input type="text"
               class="form-control"
               placeholder="Steam ID"
               focus-on="player-id-input"
               required
               autofocus
               ng-disabled="homeCtrl.isSearching"
               ng-required
               ng-model="model.steamId">

        <span class="help-block" ng-show="homeCtrl.searchError"><small>Error: {{homeCtrl.searchError}}</small></span>

    </div>

    <button type="submit"
            class="btn btn-lg btn-primary ladda-button pull-right"
            data-style="expand-right"
            data-ui-ladda="homeCtrl.isSearching"
            ng-disabled="homeCtrl.isSearching"
            ng-click="homeCtrl.searchSteamId(model.steamId)">

        <span class="ladda-label">
            <span class="glyphicon glyphicon-search"></span>
            Search
        </span>

    </button>
</form>