<form role="form" class="form-player-id">
    <h2 class="form-player-id-heading">Find Steam user ID</h2>
    <input type="text"
           class="form-control"
           placeholder="Steam user ID"
           focus-on="user-id-input"
           required
           autofocus
           ng-disabled="homeCtrl.isSearching"
           ng-required
           ng-model="model.steamId">

    <button type="submit"
            class="btn btn-lg btn-primary ladda-button pull-right"
            data-style="expand-right"
            data-ui-ladda="homeCtrl.isSearching"
            ng-disabled="homeCtrl.isSearching"
            data-loading
            ng-click="homeCtrl.searchSteamId(model.steamId)">

        <span class="ladda-label">
            <span class="glyphicon glyphicon-search"></span>
            Search
        </span>

    </button>
</form>