<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>Setup
                <small>API Key</small>
            </h1>
        </div>

        <p>
            To use the service we need your Steam API key.
            The key can be found <a href="http://steamcommunity.com/dev/apikey" target="_blank">here</a>.
            Please copy the key into the form below.
        </p>

        <div class="alert alert-info" role="alert">Your API key is only used by your client. It is <strong>not</strong> stored on our server!</div>

        <form role="form" name="api_key_form">
            <div class="form-group">

                <label for="api_key">API Key:</label>
                <input class="form-control" type="text" id="api_key" name="api_key" ng-model="setupCtrl.apiKey" ng-required />

            </div>

            <button type="submit" class="btn btn-primary pull-right" ng-click="setupCtrl.saveKey()">Save</button>
        </form>
    </div>
</div>